.card {
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  column-gap: 10px;
  &.locations-card:hover {
    background-color: #06573b;
    color: #fff;
    cursor: pointer;
  }
  &.forecast-card {
    font-size: 0.9em;
  }
  img {
    width: 50;
    height: 50;
    display: inline-block;
  }
}
